# Day Objectives
## Introduction To Jypter Notebook
**BOLD**

*ITALIAN*

*TEXT

<img src="jupyter notebook logo.png">
1.ordered list 1

2. ordered list 2

3. ordered list 3

## pyhton basics

In [1]:
'''ggkh
vgvjh
hgg''' # using for Multi-line comments
#->is for single line comment

'ggkh\nvgvjh\nhgg'

In [2]:
## variable Assignment
n=123
n

123

In [3]:
n1=n
n
n1

123

In [4]:
n1=n2=n3=n
n
n1
n2
n3

123

In [5]:
n1=n2=n3=n
n2

123

In [6]:
n1=n2=n3=n
n
n1
n2
n3

123

In [7]:
n=20
n
n1=10
n1
n1=30
n1

30

In [8]:
n1=n2=n3=n
print(n1)
print(n2)
print(n3)
n

20
20
20

20

In [9]:
n=5

In [10]:
n="a"
n

'a'

In [11]:
n1=n2=n3=n
print(n1)
print(n2)
print(n3)
n

a
a
a

'a'

In [12]:
# type() is used to check the data type
type(n)

str

In [13]:
# type conversion:converting one data type into another
x=10
print(x)
print(type(x))
print(float(x))
y=str(x)
print(type(y))
complex(x)

10
<class 'int'>
10.0
<class 'str'>

(10+0j)

In [14]:
## basic arthematic operations
## add
a=100
b=200
print(a+b)
##subtraction
print(a-b)
##multiplication
print(a*b)
k=-2
j=-4
##subtaction
print(k-j)
##multiplication
c=((a+b)*(k-j))
##division
print(c/2)# single / will give float value
print(c//2)# double // will give integer value
##modulus
print(c%2)

300
-100
20000
2
300.0
300
0

In [15]:

10+20

30

## indentation in python
## nothing but spaces or tab
## conditions:to check the condition whether true or flase
### If,else,if-else,Nested if,Nested else

In [ ]:
## If condition 
## write a program to check whether given number is even or odd
n=int(input("enter n value:"))
if(n%2==0):
    print("n is even")
else:
    print("n is odd")

In [2]:
a=int(input())
b=int(input())
if(a>b):
    print("a is bigger")
else:
    print("b is bigger")

12
56
b is bigger

In [3]:
a=10
a

10

In [12]:
s="python is an object oriented language"
s

'python is an object oriented language'

In [13]:
len(s)

37

In [14]:
s[5]

'n'

In [15]:
s[0]

'p'

In [18]:
s[-0]

'p'

In [24]:
len(s)

37

In [25]:
s[len(s)-1]

'e'

In [27]:
k="name"
print(len(k))
print(k[len(k)-1])
print(k[-1])
print(k[-2])
print(k[len(k)-2])

4
e
e
m
m

In [38]:
s="python program a very efficient language"
print(s[-9:])
print(s[50:])

 language

In [42]:
print(s[1::2])
print(s[0::2])

yhnpormavr fiin agae
pto rga  eyefcetlnug

In [46]:
print(s[::-1])

egaugnal tneiciffe yrev a margorp nohtyp

In [47]:
print(s[::-2])

eaga niif rvamropnhy

In [49]:
print(s[::-2])

eaga niif rvamropnhy

In [50]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [58]:
a="python class"
print(a)
a=a.capitalize()
print(a)
print(a.title())
print(a.upper())
print(a)
print(a.lower())

python class
Python class
Python Class
PYTHON CLASS
Python class
python class

In [74]:
b="123"
b.isdigit()

True

In [82]:
#to check whether it is a palindrome or not
n=(input("enter a value:"))
if(n[:]==n[::-1]):
    print("n is palindrome")
else:
    print("n is not a palindrome")

enter a value:12321
n is palindrome

In [101]:
a="   python is a object oriented language    "
print(a.strip())
print(a.lstrip())
print(a.rstrip())
a.count("s")

python is a object oriented language
python is a object oriented language
   python is a object oriented language

1

In [103]:
a=input()
b=input()
if(a[:]==b[:]):
    print("a and b are identical strings")
else:
    print("not identical strings")

python
madam
not identical strings

In [105]:
a='python'
a.upper()

'PYTHON'

## functions in python

In [111]:
## functions in python by using a keyword "def"
## write a program to find leap year or not
def isLeapyear(year):
    
    if(year%400==0) or (year%4==0) and (year%100!=0):
        print("it is a leap year")
    else:
        print("it is not a leap year")

In [108]:
isLeapyear(2020)

it is a leap year

In [115]:
def division(div):
    if(div%10==0) and (div%4!=0):
        print("it is divisible by 10")
    else:
        print("it is not divisible by 10")

In [117]:
division(50)

it is divisible by 10

In [124]:
def greater(a,b,c):
    if(a>b) and (a>c):
        print("a is big")
    elif(b>c) and (b>a):
        print("b is big")
    elif(c>a) and (c>b):
        print("c is big")
    else:
        print("all are equal")

In [125]:
greater(100,100,100)

all are equal

In [126]:
a=10
a

10

## loops

## while loop

In [127]:
## initialization
## whlie(condition):
## increment

In [133]:
def naturalnumber(n):
    for i  in range(1,n):
        print(i)
naturalnumber(20)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [135]:
def naturalnumber(n):
    for i  in range(1,n+1,2):
        print(i)
naturalnumber(20)

1
3
5
7
9
11
13
15
17
19

In [150]:
## even numbers from 1 to 20
def evennumber(n):
    
    for i in range(2,n+1,2):
        print(i)
evennumber(40)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [159]:
def oddnumber(n):
    
    for i in range(1,n+1,3):
        if(i%2!=0):
          print(i)
oddnumber(40)

1
7
13
19
25
31
37

In [170]:
def factors(n):
    for i in range(1,n+1):
        if(n%i==0):
            print(i)

In [171]:
factors(6)

1
2
3
6

In [187]:
def fact(n):
    a=1
    for i in range(1,n+1):
        a=a*i
    print(a)

In [188]:
fact(6)

720

In [1]:
a="welcome to python"
a.split()

['welcome', 'to', 'python']

In [7]:
a=input("enter a string")
a

enter a stringpython programming

2