## list

In [2]:
l=[1,2,3,5,8]
s=0
for i in l:
    s=s+i
print(s)
print(sum(l))

19
19

In [4]:
a=-2.2
abs(a)

2.2

In [45]:
a=-2.6
round(a)
b=[20,300,40,5,6]
len(b)
sum(b)
chr(77)
ord('a')
chr(10000)
chr(65)
bin(7)
hex(13)
sorted(b)
sorted(b,reverse=True)
sorted(b,reverse=False)
max(b)
min(b)
sorted(b)
b[1::2]

[300, 5]

In [46]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
l=[]

[100, 500]

In [21]:
l.append(900)
l.append(800)
print(l)
l.append([1,3])
l.extend([1,4])

[100, 500, 200, 500, 300, 500, 400, 500, 900, 800, [1, 2], [1, 2], 900, 800, [1, 2], 900, 800, [1, 2], 900, 800, [1, 3], 900, 800, [1, 3], 900, 800, [1, 3], 1, 2, 900, 800, [1, 3], 1, 4, 900, 800, [1, 3], 1, 4, 900, 800, [1, 3], 1, 4, 900, 800, [1, 3], 1, 4, 900, 800]

In [4]:
name=[]
age=[]
i=0
for i in range(0,4):
    name1=input("enter a name")
    age1=input("enter age")
    name.append(name1)
    age.append(age1)
print(name)
print(age)

enter a nameygfyh
enter age58142
enter a nameekjg
enter age62
enter a namedertfeg
enter age62
enter a namefrhytuj
enter age56
['ygfyh', 'ekjg', 'dertfeg', 'frhytuj']
['58142', '62', '62', '56']

In [9]:
l=[1,2,3,4]
l.insert(0,100)
l

[100, 1, 2, 3, 4]

In [10]:
l.reverse()
l

[4, 3, 2, 1, 100]

In [17]:
print(l)
(l.sort(reverse=True))
l

[100, 4, 3, 2, 1]

[100, 4, 3, 2, 1]

In [19]:
l=[1,2,3,4]
l.pop(2)
print(l)

[1, 2, 4]

In [25]:
l=[50,60,70,80,90]
l.remove(70)
print(l)
l.clear()
print(l)

[50, 60, 80, 90]
[]

In [26]:
print(l)

[]

In [27]:
del l

In [28]:
print(l)

NameError: name 'l' is not defined

In [59]:
l=[1,2,3,4,5,5,5,5,5]
print(l.count(5))
print(l.index(5))
print(l.index(5,7))

5
4
7

In [41]:
l=[1,2,3,4,5]
b=l
print(l)
print(b)
l[0]=100
print(l)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [38]:
l=[1,2,3]
a=l.copy()
print(l)
print(a)
a[0]=100
print(a)
print(l)

[1, 2, 3]
[1, 2, 3]
[100, 2, 3]
[1, 2, 3]

# tuple



## ()
## immutable
## methods index,count
## packing and unpacking

In [69]:
t=(1,2,3)
print(t[0:])
print(sum(t))
print(len(t))
print(dir(tuple))
print(t.count(1))## count(1) 1 is repeated 1 time
print(t.index(1))## index(1) 1 index is 0

(1, 2, 3)
6
3
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
1
0

In [70]:
a=("sowjanya","123456789")
(name,number)=a

In [71]:
name

'sowjanya'

In [72]:
number

'123456789'

# dictionaries




## {}
## {key:value,key1:value1}
## mutable

In [73]:
 dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [89]:
d={"name":"rama","rollno":"225","age":29}
print(d.values())
print(d.keys())
print(d.items())
print(d["name"])
d["gender"]="M"

dict_values(['rama', '225', 29])
dict_keys(['name', 'rollno', 'age'])
dict_items([('name', 'rama'), ('rollno', '225'), ('age', 29)])
rama

In [80]:
d["gender"]="M"
d

{'name': 'rama', 'rollno': '225', 'age': 29, 'gender': 'M'}

In [83]:
d.update({"name":"sowmar"})
d

{'name': 'sowmar', 'rollno': '225', 'age': 29, 'gender': 'M'}

In [84]:
d.get("name")

'sowmar'

In [99]:
l=[1,2]
a=[3,4]
x=dict(zip(l,a))
x

{1: 3, 2: 4}

In [102]:
l=[1,2]
a=[3,4]
x=dict(zip(a,l))
x

{3: 1, 4: 2}

## programs

In [115]:
## check whether the given number is in range or not
## Lb=Lowerbound
## Ub=upperbound
def range1(n):
    lb=int(input("enter lb value"))
    ub=int(input("enter ub value"))
    if(n>=lb and  n<=ub):
        print("n is between lb and ub")
    else:
        print("n is not in between lb and ub")
range1(30)

enter lb value30
enter ub value50
n is between lb and ub

In [138]:
## digits in a number
def digit(n):
    count=0
    while(n>0):
        n=n//10
        count=count+1
    print("the number of digits in a number are:",count)
digit(123)
## or
len(str(45))

the number of digits in a number are: 3

2

In [144]:
## print the leap year with in the given range
def range1(lb,ub):
    
      for i in range(lb,ub):
             if(i%400==0 or i%4==0 and i%100!=0 ):
                     print(i)
range1(1990,2020)

1992
1996
2000
2004
2008
2012
2016

In [5]:
## prime number or not
def isprime(n):
    count=0
    for i in range(2,n//2+1):
        if(n%i==0):
              count=count+1
    if count==0:
            return True
    else:
            return False  
isprime(2)

True

In [6]:
## print the prime numbers in the range (2,50)
def prime(a,b):
    for i in range(a,b+1):
        if isprime(i):
            print(i)
prime(2,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [205]:
## check whether the given string is equal to number
def equal(n1,n2):
    if(len(str(n1))==len(str(n2))):
        print("both are equal")
    else:
        print("both are not equal")
equal('abcd',1234)

both are equal

In [241]:
## perfect number
def perfectnumber(n):
    sum=0
    for i in range(1,n):
         if(n%i==0):
                sum=sum+i
    if(sum==n):
        print(True)
    else:
        print(False)
perfectnumber(28)

True

In [257]:
#given two variables if one of them is 10 
def variable(a,b):
    sum=a+b
    if (a==10 and  b==10)  or (a+b==10):
        print(True)
    else:
        print(False)
variable(10,5+5)

True

In [260]:
## string concatination
a="hello"
b=" world"
a+b

'hello world'

In [286]:
##sorting,max,min,secondlargestnumber
def list1(li):
    li.sort()
    print(li)
    print(max(li))
    print(min(li))
    print(li[-2])
list1([9,3,56,32])

[3, 9, 32, 56]
56
3
32

In [290]:
## avoding repeated elements in list
def li():
    li=[-1,0,2,3,4,5,6,0,2,4,5,6]
    l=[]
    for i in li:
        if i not in l:
            l.append(i)
    print(l)
li()

[-1, 0, 2, 3, 4, 5, 6]

In [291]:
def li():
    li=[2,4,4,4,6,6,3]
    l=[]
    for i in li:
        if i not in l:
            l.append(i)
    print(l) 
    l.sort()
    print(l)
    print(max(l))
    print(min(l))
    print(l[-2])
li()

[2, 4, 6, 3]
[2, 3, 4, 6]
6
2
4